<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Debug only: allow http to a local dev server (10.0.2.2). -->
    <application android:usesCleartextTraffic="true" tools:replace="android:usesCleartextTraffic"
        xmlns:tools="http://schemas.android.com/tools" />
</manifest>
